<h2>Lisää elokuva</h2>
     
<form name="form">
    <input type="text" placeholder="movie" name="movie" required ng-model="newTitle">
    <input type="text" placeholder="director" name="director" required ng-model="newDirector">
    <input type="text" placeholder="publication year" name="year" required ng-model="newPublicationYear">
    <input type="text" placeholder="description" name="description" required ng-model="newDescription">
    <button ng-click="addMovie()">Lisää elokuva</button>
</form>





