<h2>Muokkaa elokuvan tietoja</h2>

<form name="editForm">
        <input type="text" placeholder="{{movie.title}}" name="movie_edit" required ng-model="editTitle">
        <input type="text" placeholder="{{movie.director}}" name="director_edit" required ng-model="editDirector">
        <input type="text" placeholder="{{movie.year}}" name="year_edit" required ng-model="editPublicationYear">
        <input type="text" placeholder="{{movie.description}}" name="description_edit" required ng-model="editDescription">
        <button ng-click="editMovie(movie)">Lähetä</button>
</form>


