
        <h1>Kirjaudu sisään</h1>
        <form name="form">
            <h4>Sähköpostiosoite</h4>
            <input type="text" name="email">
            <h4>Salasana</h4>
            <input type="text" name="password">
            <br>
            <br>
            <button class="btn btn-primary" ng-click="addMovie()">KIrjaudu</button>
        </form>
        
         <h1>Rekisteröidy</h1>
        <form name="form">
            <h4>Sähköpostiosoite</h4>
            <input type="text" name="newEmail">
            <h4>Salasana</h4>
            <input type="text" name="newPassword">
            <br>
            <br>
            <button class="btn btn-primary" ng-click="addMovie()">Rekisteröidy</button>
        </form>       

